{%extends 'base.html'%}
{% block main %}
<h2>Contact Form</h2>
<h5>Fill in this form to contact site owners.</h5>
<br>
<form method='POST',action='/contact'>
 {{form.csrf_token}}
 <strong>{{form.name.label}}</strong> 
  <p>Please enter your full name</p> 
 <br>
 {{form.name}}
 <br>
 <strong>{{form.email.label}}</strong>
 <p>Please enter your e-mail address</p>
 <br>
  {{form.email}}
  <br>
  <strong>{{form.message.label}}</strong> 
  <p>Please enter the subject of your message</p>
  <br>
  {{form.message(size=100)}}
  <br>
  <br>
  <button type='submit'>send</button>
</form>

{% endblock %}
 